
/*This is for responsive	
.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}*/

/*This is for no change in alignment*/
.static{
	position:static;
	width:700px;
	height:auto;
}

.static2{
	position:static;
	width:1200px;
	height:auto;
	
}

.static3{
	position:static;
	height:auto;
	width:1500px;
}
	
h1{
	margin-left:165px;
	color:green;
	font-size:250%;
	font-family:Times New Roman;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          

#image{
	height:150px;
	width:150px;
	-webkit-box-shadow: 5px 5px 5px #111;
    box-shadow: 5px 5px 5px white; 
	
}

#image2{
	height:200px;
	width:500px;
	margin-left:100px;
	-webkit-box-shadow: 5px 5px 5px #111;
    box-shadow: 5px 5px 5px black;  
	
    
}

#para{
	font-size:200%;
	color:red;
	margin-left:100px;
}

#para2{
	font-size:150%;
	color:black;
	margin-left:20px;
	margin-right:700px;
}